/* TODO : review bad '!important' method */

body {
  background-color: #eee;
}

.wrapper > .container {
  padding-top: 95px;
}

.navbar.navbar-transparent {
  color: #555555 !important;
}

.card-header {
  float: none !important;
  margin: -20px auto !important;
  padding: 10px !important;
  width: 80px;
}

.card-content {
  min-height: 190px;
  position: relative !important;
  margin-top: 30px !important;
  text-align: left !important;

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.card-footer {
  height: auto !important;
  padding: 10px 0 0 0 !important;

  .stats .material-icons {
    top: -1px !important;
  }
}

.card-infos {
  margin: 20px 0;
  padding: 10px 20px;
  border-left: 1px solid #dddddd;
}

.alert {
  position: fixed;
  width: 90%;
  margin: 20px 5%;
  z-index: 99999;
}

.form-group {
  margin: 20px 0 0 !important;
}

.table thead tr th {
  font-weight: 400;
}