<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- SERVLETS -->

    <servlet>
        <servlet-name>Router</servlet-name>
        <servlet-class>fr.eventmanager.framework.router.Router</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EventsServlet</servlet-name>
        <servlet-class>fr.eventmanager.controller.EventsServlet</servlet-class>
    </servlet>

    <!-- SERVLETS MAPPING -->

    <servlet-mapping>
        <servlet-name>Router</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>